@import url("solid.2.6.2.css");
@import url("solid-fonts.css");


/* fonts */
.fw-eb {
	font-family: "Proxima Nova";
	font-weight:bold;
	letter-spacing: .06em;
}


/* navigation */

a.about-nav__logo{
	height: 26px;
    width: 128px;
}

.about-nav{
	white-space: nowrap;
}

.about-nav__links a{
	color:#fff;
	text-transform:uppercase;
	transition: color .3s ease-out, border-bottom .1s ease-out;
}

.about-nav__links a.active{
	border-bottom: 3px solid #fff;
}

.about-nav__links a:hover {
	color: rgba(255, 255, 255, 0.75);
	border-bottom: 3px solid rgba(255, 255, 255, 0.75); 
}


/* page introduction + background image */

@media (min-width: 64rem) {
 	.container {
 		margin: 0px auto;
 		width: 1060px
	} 
	
	.page-intro__navitem{
	width:70px;
	height:70px;
}

}

@media (min-width:52rem) {
	.container {
	    margin: 0px 20px;
	}
	
	.page-intro__navitem{
	width:70px;
	height:70px;
}


}

@media (min-width:40rem) {
	.container{
		margin: 0px 16px;
	}
	
	.page-intro__navitem{
	width:50px;
	height:50px;
}
}

.container{
	 margin: 0px 12px;
	 position: relative;
	 width: auto;
}

.page-intro__background{
	background-image: url("../images/WFM.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 22rem;
	z-index:-1;
}

.page-intro__title{
	background:linear-gradient(to right, #f1299b, #8B7CF7);
}

.page-intro__description{
	background: #ed21a3;
    box-shadow: 12px 0 0 #ed21a3, -12px 0 0 #ed21a3;
    line-height: 1.45 !important;
}

#page-intro__title{
	margin-left:12px;
}


/* top module */

.page-top__iphone{
	background: url("../images/iphone.png") center center;	
}

/* gif nav */

.page-intro__navitem:nth-child(1){
	background:url("../images/angie_final.png") no-repeat center top;
	background-size: 70px 70px;
	border:2px solid rgba(0,0,0,0);
}

.page-intro__navitem:nth-child(1):hover{
	background:url("../images/angie_final.gif") no-repeat center top;
	background-size: 70px 70px;
	border:2px solid #F43192;
}


.page-intro__navitem:nth-child(2){
	background:url("../images/essence_final.png") no-repeat center top;
	background-size: 70px 70px;
	border:2px solid rgba(0,0,0,0);
}

.page-intro__navitem:nth-child(2):hover{
	background:url("../images/essence_final.gif") no-repeat center top;
	background-size: 70px 70px;
	border:2px solid #F43192;
}

.page-intro__navitem:nth-child(3){
	background:url("../images/jason_final.png") no-repeat center top;
	background-size: 70px 70px;
	border:2px solid rgba(0,0,0,0);
}

.page-intro__navitem:nth-child(3):hover{
	background:url("../images/jason_final.gif") no-repeat center top;
	background-size: 70px 70px;
	border:2px solid #F43192;
}

.page-intro__navitem:nth-child(4){
	background:url("../images/liz_final_edited.png") no-repeat center top;
	background-size: 70px 70px;
	border:2px solid rgba(0,0,0,0);
}

.page-intro__navitem:nth-child(4):hover{
	background:url("../images/liz_final_edited.gif") no-repeat center top;
	background-size: 70px 70px;
	border:2px solid #F43192;
}

.page-intro__navitem.selected{
	background-color:#F43192 !important;
	border: 2px solid #F43192;
}


.page-intro__navdot.selected{
	background-color:#F43192 !important;
}

.page-intro__navdot{
	width:8px;
	height:8px;
}
