@import url("solid.2.6.2.css");

/* font faces */


/* font weights */
.fw-eb {
  font-family: "ProximaNovaExtrabold";
  letter-spacing: .06em; }

.fw-bl {
  font-family: "ProximaNovaBlack";
  letter-spacing: .04em; }

.extrabold {
  font-family: "ProximaNovaExtrabold"; }


/* navigation */

a.about-nav__logo{
	height: 26px;
    width: 128px;
}

.about-nav{
	white-space: nowrap;
}

.about-nav__links a{
	color:#fff;
	text-transform:uppercase;
	transition: color .3s ease-out, border-bottom .1s ease-out;
}

.about-nav__links a.active{
	border-bottom: 3px solid #fff;
}

.about-nav__links a:hover {
      color: rgba(255, 255, 255, 0.75);
      border-bottom: 3px solid rgba(255, 255, 255, 0.75); 
     }


/* background image */
.page-intro-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 22rem; }